.files-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.files-list > .files-item > a {
    display: flex;
    text-align: left;
    justify-content: center;
    width: max-content;
    padding: 5px;
    margin: 1em;
    color: white;
    text-decoration: none;
    background: linear-gradient(180deg, rgba(255, 255, 255,0.5) 50%, rgba(255, 255, 255,0.2) 100%);
    border-radius: 25px; 
}

.files-item> a > img {
    width: 50px;
    margin-block: auto auto;
    margin-right: 10px;
}

.files-item> a > p {
    margin-block: auto auto;
    margin-right: 10px;
}

