/*Основное*/

html body {
    background: linear-gradient(180deg, #0b0e23 100%, #111a61 100%);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.down-body {
    background: linear-gradient(180deg, rgba(255, 255, 255,0.2) 100%, rgba(255, 255, 255,0.2) 100%);
    margin: 1em;
    border-radius: 10px;
    padding: 1em;
}

.down-body {
    height: 1010px;
    margin-bottom: 10px;
}

#span {
    font-style: italic;
    font-weight: bold;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    color: linear-gradient(180deg, rgba(255, 255, 255,0.2) 100%, rgba(255, 255, 255,0.2) 100%);
    
}

/*Навигационная панель*/

.navbar-nav > .nav-item > .nav-link.active {
    color: white;
    background: linear-gradient(180deg, rgba(255, 255, 255,0.5) 50%, rgba(255, 255, 255,0.2) 100%);
    border-radius: 50px;
}

.navbar-brand > img {
    width: 30px;
}

.container-fluid > .navbar-toggler{
    color: white;
}

.navbar-toggler-icon > img {
    width: 30px;
}

.nav-item > .nav-link {
    color: white;
}

.nav-item > .nav-link:hover {
    color: rgb(212, 212, 212);
}

.nav-item > a {
    text-align: center;
}

/*Карусель изображений*/

.carousel-inner {
    margin: auto auto;  
}

.carousel {
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-block: 2em;
}

.carousel-item {
    text-align: center;
}


 .carousel-preview {
    width: 60%;
    margin: auto auto;
}

/*Анимация телефона*/

.phone-anim {
    animation: call-anim 3s ease 0s infinite normal forwards;
}

@keyframes call-anim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}
    
	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}

/*Футер*/

footer {
    position: absolute;
    top: 950px;
    right: 0px;
    left: 0px;
}
    

.footer-text {
    display: inline;
    margin-bottom: 10px;
}


.footer-text > p > a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

@media (max-width:756px) {
    footer {
        top: 900px;
    }
    .footer-text > p {
      font-size: 11px;  
    }
}

